In [94]:
import requests
import pandas
from bs4 import BeautifulSoup

r = requests.get("https://wealthygorilla.com/top-20-richest-people-world/")
c = r.content

soup = BeautifulSoup(c, "html.parser")


l = []
all = soup.find_all("strong")
for items in all:
    d = {}
    new = items.find_all("a")
    if len(new) == 0:
        ans = items.text
        if ans.find("Net") == 0:
            global sol
            sol = ans.replace("Net Worth: ", "")
            
    if len(new) == 1:
        d["Name"] = items.find("a").text
        d["Net Worth"] = sol

    l.append(d)
    
    
for items in l:
    if len(items) > 0:
        print(items)
          
z = []
for items in l:
    if len(items) > 0:
        print(items)
        z.append(items)

 
mf = pandas.DataFrame(z)

{'Name': 'Michael Dell', 'Net Worth': '$117.5 Billion'}
{'Name': 'MacKenzie Bezos', 'Net Worth': '$117.5 Billion'}
{'Name': 'Sheldon Adelson', 'Net Worth': '$39.4 Billion'}
{'Name': 'Charles Koch', 'Net Worth': '$40.8 Billion'}
{'Name': 'Ma Huateng', 'Net Worth': '$43 Billion'}
{'Name': 'Jack Ma', 'Net Worth': '$43.1 Billion'}
{'Name': 'S. Robson Walton', 'Net Worth': '$43.8 Billion'}
{'Name': 'Alice Walton', 'Net Worth': '$52.8 Billion'}
{'Name': 'Jim Walton', 'Net Worth': '$52.9 Billion'}
{'Name': 'Michael Bloomberg', 'Net Worth': '$53.2 Billion'}
{'Name': 'Francoise Bettencourt Meyers', 'Net Worth': '$56 Billion'}
{'Name': 'Steve Ballmer', 'Net Worth': '$54.6 Billion'}
{'Name': 'Mukesh Ambani', 'Net Worth': '$58.1 Billion'}
{'Name': 'Sergey Brin', 'Net Worth': '$59.2 Billion'}
{'Name': 'Larry Page', 'Net Worth': '$59.6 Billion'}
{'Name': 'Carlos Slim Helu', 'Net Worth': '$61.9 Billion'}
{'Name': 'Mark Zuckerberg', 'Net Worth': '$66.6 Billion'}
{'Name': 'Amancio Ortega', 'Net Worth': '$77.7 Billion'}
{'Name': 'Warren Buffett', 'Net Worth': '$77.9 Billion'}
{'Name': 'Bill Gates', 'Net Worth': '$89.9 Billion'}
{'Name': 'Bernard Arnault', 'Net Worth': '$108.8 Billion'}
{'Name': 'Jeff Bezos', 'Net Worth': '$112 Billion'}
{'Name': 'Michael Dell', 'Net Worth': '$117.5 Billion'}
{'Name': 'MacKenzie Bezos', 'Net Worth': '$117.5 Billion'}
{'Name': 'Sheldon Adelson', 'Net Worth': '$39.4 Billion'}
{'Name': 'Charles Koch', 'Net Worth': '$40.8 Billion'}
{'Name': 'Ma Huateng', 'Net Worth': '$43 Billion'}
{'Name': 'Jack Ma', 'Net Worth': '$43.1 Billion'}
{'Name': 'S. Robson Walton', 'Net Worth': '$43.8 Billion'}
{'Name': 'Alice Walton', 'Net Worth': '$52.8 Billion'}
{'Name': 'Jim Walton', 'Net Worth': '$52.9 Billion'}
{'Name': 'Michael Bloomberg', 'Net Worth': '$53.2 Billion'}
{'Name': 'Francoise Bettencourt Meyers', 'Net Worth': '$56 Billion'}
{'Name': 'Steve Ballmer', 'Net Worth': '$54.6 Billion'}
{'Name': 'Mukesh Ambani', 'Net Worth': '$58.1 Billion'}
{'Name': 'Sergey Brin', 'Net Worth': '$59.2 Billion'}
{'Name': 'Larry Page', 'Net Worth': '$59.6 Billion'}
{'Name': 'Carlos Slim Helu', 'Net Worth': '$61.9 Billion'}
{'Name': 'Mark Zuckerberg', 'Net Worth': '$66.6 Billion'}
{'Name': 'Amancio Ortega', 'Net Worth': '$77.7 Billion'}
{'Name': 'Warren Buffett', 'Net Worth': '$77.9 Billion'}
{'Name': 'Bill Gates', 'Net Worth': '$89.9 Billion'}
{'Name': 'Bernard Arnault', 'Net Worth': '$108.8 Billion'}
{'Name': 'Jeff Bezos', 'Net Worth': '$112 Billion'}

In [93]:
mf

                            Name       Net Worth
0                   Michael Dell  $117.5 Billion
1                MacKenzie Bezos  $117.5 Billion
2                Sheldon Adelson   $39.4 Billion
3                   Charles Koch   $40.8 Billion
4                     Ma Huateng     $43 Billion
5                        Jack Ma   $43.1 Billion
6               S. Robson Walton   $43.8 Billion
7                   Alice Walton   $52.8 Billion
8                     Jim Walton   $52.9 Billion
9              Michael Bloomberg   $53.2 Billion
10  Francoise Bettencourt Meyers     $56 Billion
11                 Steve Ballmer   $54.6 Billion
12                 Mukesh Ambani   $58.1 Billion
13                   Sergey Brin   $59.2 Billion
14                    Larry Page   $59.6 Billion
15              Carlos Slim Helu   $61.9 Billion
16               Mark Zuckerberg   $66.6 Billion
17                Amancio Ortega   $77.7 Billion
18                Warren Buffett   $77.9 Billion
19                    Bill Gates   $89.9 Billion
20               Bernard Arnault  $108.8 Billion
21                    Jeff Bezos    $112 Billion